.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 1300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    text-transform: uppercase;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

/* does not seem to work
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
*/

.styled-table tbody tr:hover {
    border: 2px solid #776666;
}

input[type="submit"]
{
 border: 1;
 background: none;
 box-shadow: none;
 border-radius: 1px;
}

input[type="submit"]:hover
{
 border: 1;
 background: red;
 box-shadow: none;
 border-radius: 1px;
}

input[type="text"] {
  цidth: 420px;
}


.header_controls {
  width: 120px;
  height: 30px;
  margin-left: 5pt;
  border-radius: 15px;
  font-size: 1.0em;
  background-color: #009060;
  color: #ffffff;
}

.mainframe {
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 height: 100%;
 width: 100%;
 background: #fefefe;
 border-collapse: collapse; 
}

.long_select {
  width: 420px;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
  -webkit-appearance: none;
}

/* input fields customization */
.mandatory:placeholder-shown {
    background: #ffeeee;
}

.mandatory, .optional {
    background: #eeffee;
}

.optional:placeholder-shown {
    background: default;
}

.separator {
   border-top: 1px solid black;
}

.debug {
 /*border: 1px solid red;*/
}
